<!DOCTYPE html>
<html layout:decorator="template/main" lang="zh-tw" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- header -->
<div layout:fragment="header" th:remove="tag"><div th:include="template/header :: header('example')" th:remove="tag"></div></div>


<!-- content -->
<div layout:fragment="content" th:remove="tag">
    <div class="page-content">
        <div class="page-wrap">
            index
        </div>
    </div>
</div>
<!-- footer -->
<div layout:fragment="header" th:remove="tag"><div th:include="template/footer :: header('example')" th:remove="tag"></div></div>
</body>
</html>